body {
    margin: 0;
    overflow: hidden;
    min-height: 100dvh;
    background-color: #e2e2e2;
}
/* 
    クエリするものたち
    [とりま完]sideMenu: サイズ
    [とりま完]sideMenuの中身： テキスト、ボタンのサイズ
    [とりま完]closeMenuButton、menuButton: サイズ

    中央揃えのテキスト: フォントサイズ
    currentWeaponDisplay、currentPoint(pointArea): 中央揃え、フォントサイズ、下に配置
    ボタン：サイズ

 */

#overlay {
    z-index: 1000;

    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.6);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

#sideMenu {
    position: fixed;
    width: 350px;
    height: 100vh;

    overflow: hidden; /* ← メニュー自体はスクロールさせない */
    overflow-y: hidden;
    z-index: 1001;

    position: fixed;

    top: 0;
    left: -350px;

    background-color: #f2f2f2;

    padding: 1px;
    box-sizing: border-box;

    transition: left 0.3s ease;
}

#sideMenuContent {
    height: 100%;

    padding: 24px;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;

    -webkit-overflow-scrolling: touch;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#sideMenu.open {
    left: 0;
}

.menuTitle {
    font-size: 32px;
    font-family: "DotGothic16", sans-serif;

    margin-top: 10px;
}

.menuHeading {
    font-size: 22px;
    font-family: "DotGothic16", sans-serif;

    margin-top: 20px;
    margin-bottom: -10px;
}

.menuText {
    font-size: 16px;
    font-family: "DotGothic16", sans-serif;

    line-height: 1.6;

    padding-left: 0em;
}

.menuTextBp {
    font-size: 16px;
    font-family: "DotGothic16", sans-serif;

    line-height: 1.6;
    margin-bottom: -10px;

    padding-left: 1em;
    text-indent: -1em;
}

#credit {
    color: gray;
}

#menuButton {
    position: fixed;

    top: 20px;
    left: 20px;

    width: 50px;
    height: 50px;

    font-size: 28px;
    text-align: center;
    cursor: pointer;
}

#closeMenuButton {
    font-family: "DotGothic16", sans-serif;
    width: 40px;
    height: 40px;

    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

#resetButton {
    width: 60%;
    height: 50px;

    font-size: 18px;
    font-family: "DotGothic16", sans-serif;

    cursor: pointer;

    margin-bottom: 10px;
}

#screenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    color: black;
    font-family: "DotGothic16", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.subtitle {
    font-size: 24px;
    color: gray;
    font-family: "DotGothic16", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -35px;
    margin-bottom: auto;
}

    #resultRarity {
        color: black;
        margin-top: -30px;
    }

.bigText {
    font-size: 28px;
    color: black;
    font-family: "DotGothic16", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
}

    #currentWeaponDisplay {
        position: flex;
        margin-top: 20px;   
    }

    #currentPoint {
        margin-left: 70vw
    }

#resultImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

#mainImage {
    position: relative;
    width: 280px;
    height: 280px;
}

#resultImageFrame,
#resultImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#resultImageFrame {
    width: 280px;
    height: 280px;
    z-index: 1;
}

#resultImage {
    width: auto;
    height: 240px;
    z-index: 2;
}

#resultImageSmall {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#resultImageSmall img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#pointArea {
    position: fixed;
    top: 120px;
    right: 40px;

    text-align: right;
}

    #pointChange {
        position: absolute;

        left: 95%;
        bottom: 50%;

        transform: translateX(-50%);

        font-size: 28px;
        font-family: "DotGothic16", sans-serif;

        opacity: 0;
        pointer-events: none;
    }

    #pointChange.animate {
        animation: pointFloat 1s ease-out;
    }

    @keyframes pointFloat {

        0% {
            opacity: 0;
            transform: translate(-50%, 0px);
        }

        20% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translate(-50%, -40px);
        }

    }

.MainButton {
    font-size: 42px;
    font-family: "DotGothic16", sans-serif;
    
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    
    width: 16vw;
    height: 70px
}

#skillContainer {
    position: fixed;
    top: 60%;
    right: 30px;
    transform: translateY(-50%);

    width: 320px;
    height: 70vh;

    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow-y: auto;
}

    .skillCard {
        width: 240px;
        padding: 10px;
        margin: 0px auto;

        background-color: white;
        border-radius: 10px;
        border: 2px solid #888;

        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .skillName {
        margin: 0;
        font-size: 20px;
        font-family: "DotGothic16", sans-serif;
    }

    .skillDescription {
        margin: 0;
        font-size: 16px;
        color: #555;
        font-family: "DotGothic16", sans-serif;
    }

    .skillButton {
        align-self: flex-end;

        width: 80px;
        height: 40px;

        font-size: 18px;
        font-family: "DotGothic16", sans-serif;
        cursor: pointer;
    }

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* スマホ用 1000px*/

@media (orientation: portrait) {

    #menuButton {

        top: 10vh;
        left: 30px;

        width: 80px;
        height: 80px;

        font-size: 50px;
    }

    #closeMenuButton {
        margin-top: 0px;
        margin-left: 0px;
        width: 80px;
        height: 80px;
        font-size: 50px;
    }

    #resetButton {
        width: 40%;
        height: 75px;
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    #sideMenu {
        width: 80vw;
        left: -80vw;
    }

    #sideMenuContent {
        padding: 30px;
        box-sizing: border-box;
    }

    .menuTitle {
        font-size: 64px;
        margin-top: 15px;
    }

    .menuHeading {
        font-size: 44px;
        margin-top: 20px;
        margin-bottom: -2px;
    }

    .menuText {
        margin-top: 10px;
        font-size: 32px;
        line-height: 1.6;
    }

    .menuTextBp {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 32px;
        line-height: 1.6;
    }

    .title {
        font-size: 5.5vw;
        position: fixed;
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
        top: 2dvh;
    }

        #resultName {
            line-height: 1.2;
            font-size: 5.8vw;
            margin-left: 2vw;
            margin-right: 2vw;
            top: 51dvh;
        }

    .subtitle {
        font-size: 42px;
        position: fixed;
        top: 9dvh;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0px;
    }

        #resultRarity {
            top: 56dvh;
        }


    #resultImageContainer {
        position: fixed;
        top: 13dvh;
        gap: 5vw;
    }

        #mainImage {
            position: relative;
            width: 560px;
            height: 560px;
        }

        #resultImageFrame,
        #resultImage {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #resultImageFrame {
            width: 560px;
            height: 560px;
            z-index: 1;
        }

        #resultImage {
            width: auto;
            height: 500px;
            z-index: 2;
        }

        #resultImageSmall {
            display: flex;
            flex-direction: column;
            gap: 80px;
        }

        #resultImageSmall img {
            width: 160px;
            height: 160px;
            object-fit: contain;
        }

    .bigText {
    font-size: 56px;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
    }

        #currentWeaponDisplay {
            position: fixed;
            top: 19dvh;
            font-size: 4.5vw;
            margin-right: 2vw;
            margin-left: 2vw;
        }

        #currentPoint {
            margin: 10px 0 0;
            font-size: 4.5vw;
        }

    .MainButton {
        font-size: 84px;
        
        bottom: 5vh;
        
        width: 48vw;
        height: 8dvh;
    }

    #skillContainer {
        position: fixed;
        top: 59dvh;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
        height: 20vh;
    }

    .skillCard {
        width: 55vw;
        padding: 20px;
        margin: 0px auto;

        border-radius: 20px;

        gap: 4px;
    }

    .skillName {
        font-size: 40px;
    }

    .skillDescription {
        font-size: 28px;
    }

    .skillButton {
        width: 160px;
        height: 80px;

        font-size: 36px;
    }

    #pointArea {
        position: fixed;
        top: 80dvh;
        left: 50%;
        transform: translateX(-50%);

        width: 96vw;

        text-align: center;
    }

    #pointChange {
        font-size: 56px;
        position: absolute;
        left: 77%;
        top: -100px;

        transform: translateX(-50%);
    }

}